<!--Introduction-->
<section id="about" class="introduction scrollto">

    <div class="row clearfix">

        <div class="col-3">
            <div class="section-heading">
                <h3>NOSOTROS</h3>
                <h2 class="section-title">CIP Yesha de M&eacute;xico</h2>
                <p class="section-subtitle">En CIP Yesha tenemos m&aacute;s de 20 a&ntilde;os otorgando servicio a nuestros clientes
                    a trav&eacute;s de la valuaci&oacute;n e inventario de bienes muebles, el control de activo fijo, capacitaci&oacute;n,
                    así como coaching ejecutivo.
                </p>
            </div>
        </div>

        <div class="col-2-3">

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.1s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-html5 fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>MISI&Oacute;N</h4>
                    <p>Proveer de sistemas para la administraci&oacute;n y control de activos fijos, proveer capacitaci&oacute;n
                        para los recursos humanos de empresas del sector p&uacute;blico, privado y comercial, adem&aacute;s de
                        coaching ejecutivo, proveyendo un servicio confiable, profesional y de alta calidad que permita la rapida
                        toma de decisiones a los directivos de las empresas.
                    </p>
                </div>
            </div>
            <!--End of Icon Block-->

            <!--Icon Block-->
            <div class="col-2 icon-block icon-top wow fadeInUp" data-wow-delay="0.3s">
                <!--Icon-->
                <div class="icon">
                    <i class="fa fa-bolt fa-2x"></i>
                </div>
                <!--Icon Block Description-->
                <div class="icon-block-description">
                    <h4>VISI&Oacute;N</h4>
                    <p>Ser l&iacute;deres en la administraci&oacute;n de los activos fijos de las empresas, as&iacute;
                        como en capacitaci&oacute;n de personal y coaching ejecutivo, basandonos en proporcionar un
                        servicio de alta calidad, con soluciones integrales para cualquier tipo de empresa, estableciendo
                        a su vez relaciones duraderas con nuestros clientes.
                    </p>
                </div>
            </div>
            <!--End of Icon Block-->

        </div>

        <!--Icon Block-->
        <div class="col-1 row icon-block fadeInUp" data-wow-delay="0.3s">
            <!--Icon Block Description-->
            <div class="icon-block-description">
                <h4>HISTORIA</h4>
                <p>
                    Hace 20 años, en la Cd de México, la idea de CIP Yesha germinó en la mente de uno de nuestros fundadores,
                    quien, inmerso en el mundo de la consultoría para grupos empresariales nacionales y trasnacionales, vislumbró
                    una necesidad latente y soluciones novedosas para asistir a las empresas privadas en el estado de Veracruz en
                    la administración y control de sus bienes.  
                </p>
                <p>
                    La semilla de CIP Yesha no solo fue sembrada por la experiencia acumulada durante más de 25 años como consultor
                    especializado en valuación y control de activos, sino también por la contribución con otros visionarios, entre
                    ellos, un socio con experiencia en gestión pública y que hoy desempeña un papel crucial como perito valuador en
                    nuestra consultoría.  
                </p>
                <p>
                    Así en el año 2003, nos dimos a la tarea de proveer un servicio integral de valuación y control de activos fijos
                    con la asesoría. Fue esta conjunción de experiencia consolidada y mentes jóvenes y actualizadas lo que dio vida a
                    CIP Yesha.
                </p>
                <p>
                    Los enorgullece haber fusionado la sabiduría de décadas con la energía fresca de socios jóvenes, todos
                    comprometidos con mantenernos a la vanguardia. En CIP Yesha, no solo ofrecemos servicios; ofrecemos la síntesis
                    perfecta entre el conocimiento arraigado en el pasado y la visión audaz hacia el futuro.
                </p>
            </div>
        </div>
        <!--End of Icon Block-->

    </div>

</section>
<!--End of Introduction-->