<!--Content Section-->
<div id="services" class="scrollto clearfix">

    <div class="row no-padding-bottom clearfix">


        <!--Content Left Side-->
        <div class="col-3">
            <!--User Testimonial-->
            <blockquote class="testimonial text-right bigtest">
                <q>toda esta secci&oacute;n se encuentra en construcci&oacute;n para proximam&eacute;nte lanzarse</q>
                <footer>— John Doe, Happy Customer</footer>
            </blockquote>
            <!-- End of Testimonial-->

        </div>
        <!--End Content Left Side-->

        <!--Content of the Right Side-->
        <div class="col-3">
            <div class="section-heading">
                <h3>CONSTRUY&Eacute;NDO</h3>
                <h2 class="section-title">Enfoc&aacute;ndonos en construir</h2>
                <p class="section-subtitle">Esta página web estar&aacute; destinada a expandir el negocio de CIP Yesha
                  en el aspecto de la capacitaci&oacute;n para empresas e individuos
                </p>
            </div>
            <p>
              Este es un p&aacute;rrafo.
            </p>
            <p>
                Este es otro p&aacute;rrafo.
            </p>
            <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
            <a href="https://www.youtube.com/watch?v=S-aA4wcTFFw" target="_blank" class="button video link-lightbox">
                WATCH VIDEO <i class="fa fa-play" aria-hidden="true"></i>
            </a>
        </div>
        <!--End Content Right Side-->

        <div class="col-3">
            <img src="assets/images/dancer.jpg" alt="Dancer"/>
        </div>

    </div>


</div>
<!--End of Content Section-->