 <!--Clients-->
 <section id="clients" class="scrollto clearfix">
    <div class="row clearfix">

        <div class="col-3">

            <div class="section-heading">
                <h3>CONFIANZA</h3>
                <h2 class="section-title">Municipios y Empresas</h2>
                <p class="section-subtitle">Aqu&iacute; se pueden observar algunas de las cientos de organizaciones p&uacute;blicas
                    y privadas con las que hemos trabajado mano a mano en el pasado, desde hace m&aacute;s de 20 a&ntilde;os
                </p>
            </div>

        </div>

        <div class="col-2-3">

            <a href="#" class="col-3">
                <img src="assets/images/company-images/company-logo1.png" alt="Company"/>
                <div class="client-overlay"><span>Ayuntamiento de Mariano Escobedo</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="assets/images/company-images/company-logo2.png" alt="Company"/>
                <div class="client-overlay"><span>Ayuntamiento de La Perla</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="assets/images/company-images/company-logo3.png" alt="Company"/>
                <div class="client-overlay"><span>Ayuntamiento de Cosoleacaque</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="assets/images/company-images/company-logo4.png" alt="Company"/>
                <div class="client-overlay"><span>Ayuntamiento de Amatl&aacute;n de los Reyes</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="assets/images/company-images/company-logo5.png" alt="Company"/>
                <div class="client-overlay"><span>Ayuntamiento de Coscomatepec</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="assets/images/company-images/company-logo6.png" alt="Company"/>
                <div class="client-overlay"><span>Mexichem / Orbia</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="assets/images/company-images/company-logo7.png" alt="Company"/>
                <div class="client-overlay"><span>Hoteles Fiesta Americana</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="assets/images/company-images/company-logo8.png" alt="Company"/>
                <div class="client-overlay"><span>AkzoNobel</span></div>
            </a>
            <a href="#" class="col-3">
                <img src="assets/images/company-images/company-logo9.png" alt="Company"/>
                <div class="client-overlay"><span>Telcel</span></div>
            </a>

        </div>

    </div>
</section>
<!--End of Clients-->